<mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile class="tile1">
        <p class="about-text">
            Sou desenvolvedor front-end com conhecimento em tecnologias como React, Angular, web design responsivo, CSS,
            HTML e JavaScript. Tenho experiência na criação de sistemas para automação de processos (ERP) e sistemas
            para auxiliar na gestão do relacionamento com o cliente (CRM).
        </p>
    </mat-grid-tile>
    <mat-grid-tile class="tile2">
        <img alt="Fronten Developer" src="../../../assets/image1.jpeg" class="image" />
    </mat-grid-tile>
</mat-grid-list>
