<div>
    <mat-grid-list cols="2" gutterSize="1rem" rowHeight="350px">
        <mat-grid-tile class="tile1">
            <p class="about-text">
                Desenvolvedor frontend com conhecimento em tecnologias como React, Angular, web design responsivo, CSS,
                HTML e JavaScript. Tenho experiência na criação de sistemas para automação de processos (ERP) e sistemas
                para auxiliar na gestão do relacionamento com o cliente (CRM).
                <br>
                Possuo conhecimento em ferramentas para gerenciamento de projetos como GitHub e GitLab e também ferramentas
                para gerenciamento de tarefas como Clickup e Trello.
            </p>
        </mat-grid-tile>
        <mat-grid-tile class="tile2">
            <img alt="Fronten Developer" src="../../../assets/frontend.png" class="image" />
        </mat-grid-tile>
    </mat-grid-list>
</div>