<div>
    <span class="projects-title">PROJETOS</span>
    <mat-grid-list cols="2" rowHeight="7rem" gutterSize="1rem">
        <div *ngFor="let project of projects">
            <mat-grid-tile>
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>
                                {{project.title}}
                            </mat-card-title>
                            <p class="card-link">
                                <a href="{{project.link}}" target="_blank">Ver mais</a>
                            </p>
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{project.description}}
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</div>

