.skills-title {
    display: flex;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 50px;

    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
    height: 320px;
}

.skill-title {
    font-size: 16px;
}

.skills-content {
    padding: 0 100px 0 100px;
}

.progress-bar {
    margin-bottom: 15px;
}
