<div>
    <span class="courses-title">CURSOS</span>
    <mat-grid-list cols="2" rowHeight="10rem" gutterSize="1rem">
        <div *ngFor="let course of courses">
            <mat-grid-tile>
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>
                                {{course.title}}
                            </mat-card-title>
                            <p class="card-date">{{course.date}}</p>
                        </mat-card-title-group>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</div>

